In [1]:
import numpy as np 
import pandas as pd 
import quandl, math
from sklearn import preprocessinge, cross_validation,

In [44]:
df = quandl.get('WIKI/GOOGL')
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3424 entries, 2004-08-19 to 2018-03-27
Data columns (total 12 columns):
Open           3424 non-null float64
High           3424 non-null float64
Low            3424 non-null float64
Close          3424 non-null float64
Volume         3424 non-null float64
Ex-Dividend    3424 non-null float64
Split Ratio    3424 non-null float64
Adj. Open      3424 non-null float64
Adj. High      3424 non-null float64
Adj. Low       3424 non-null float64
Adj. Close     3424 non-null float64
Adj. Volume    3424 non-null float64
dtypes: float64(12)
memory usage: 347.8 KB
None
              Open         High          Low        Close        Volume  \
count  3424.000000  3424.000000  3424.000000  3424.000000  3.424000e+03
mean    596.602610   602.045438   590.571710   596.352862  7.818568e+06
std     226.989782   227.783310   225.846581   226.896692  8.248211e+06
min      99.090000   101.740000    95.960000   100.010000  5.211410e+05
25%     461.157500   465.392500   456.065000   461.205000  2.430647e+06
50%     565.120000   569.599950   559.860000   564.940000  5.076200e+06
75%     735.627500   740.850000   728.680025   733.262500  1.020910e+07
max    1226.800000  1228.880000  1218.600000  1220.170000  8.215110e+07

       Ex-Dividend  Split Ratio    Adj. Open    Adj. High     Adj. Low  \
count  3424.000000       3424.0  3424.000000  3424.000000  3424.000000
mean      0.165880          1.0   409.221461   412.786556   405.227809
std       9.706436          0.0   257.844081   259.366718   255.981628
min       0.000000          1.0    49.698414    51.027517    48.128568
25%       0.000000          1.0   231.292728   233.416785   228.738594
50%       0.000000          1.0   300.174109   302.496277   297.909618
75%       0.000000          1.0   561.178118   565.000000   556.673036
max     567.971668          1.0  1188.000000  1198.000000  1184.060000

        Adj. Close   Adj. Volume
count  3424.000000  3.424000e+03
mean    409.057885  7.818568e+06
std     257.773495  8.248211e+06
min      50.159839  5.211410e+05
25%     231.316552  2.430647e+06
50%     300.264387  5.076200e+06
75%     561.200000  1.020910e+07
max    1187.560000  8.215110e+07

In [45]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [46]:
df = df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]

In [47]:
# create a percent volatility feature 
df['HL_PCT'] = (df['Adj. High']-df['Adj. Low'])/df['Adj. Close']*100

In [48]:
df['PCT_Change'] = (df['Adj. Close']-df['Adj. Open'])/df['Adj. Open']*100

In [49]:
df = df[['Adj. Close', 'HL_PCT', 'PCT_Change', 'Adj. Volume']]

In [50]:
df.head()

            Adj. Close    HL_PCT  PCT_Change  Adj. Volume
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0
2004-08-20   54.322689  7.921706    7.227007   22834300.0
2004-08-23   54.869377  4.049360   -1.227880   18256100.0
2004-08-24   52.597363  7.657099   -5.726357   15247300.0
2004-08-25   53.164113  3.886792    1.183658    9188600.0

In [51]:
forecast_col = 'Adj. Close'
df.fillna(-999999, inplace=True)

In [52]:
import math
forecast_out = int(math.ceil(0.01*len(df)))

In [53]:
df['Lable'] = df[forecast_col].shift(-forecast_out)

In [54]:
df.head()

            Adj. Close    HL_PCT  PCT_Change  Adj. Volume      Lable
Date
2004-08-19   50.322842  8.072956    0.324968   44659000.0  69.078238
2004-08-20   54.322689  7.921706    7.227007   22834300.0  67.839414
2004-08-23   54.869377  4.049360   -1.227880   18256100.0  68.912727
2004-08-24   52.597363  7.657099   -5.726357   15247300.0  70.668146
2004-08-25   53.164113  3.886792    1.183658    9188600.0  71.219849